body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;

	/* --font-text-theme: Consolas, Courier New, monospace; */
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

:root {
	/* Default Input Variables for Root */
	--input-focus-border-color: Highlight;
	--input-focus-outline: 1px solid Canvas;
	--input-unfocused-border-color: transparent;
	--input-disabled-border-color: transparent;
	--input-hover-border-color: black;

	/* Added */
	--border-width: 1; /* No clue what this is. */

	/* MAIN DARK THEME COLORS */
	--color-main-dark: #040812;
	--color-secondary-dark: #0f1116;
	--color-light-blue: #849dff;
	--color-light-purple: #aa8fd1;
	--color-outline: #282828;
	--color-obsidian-purple: #8a5cf5;
}

